<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentários</title>
    <!-- Link usando jinja para linkar o css -->
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'style.css') }}">

     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="container__title">
        <h1>FEEDBACK 😎</h1>
        <h2>SUPER MASTER PÁGINA</h2>
    </div>
    <form action= "/post/mensagem"  method = "POST" class="container__form">
        <label class="container__label">Usuário</label>
        <!-- Colocando name para chamar no app.py -->
        <input name="usuario" class="container__input" type="text">

        <label class="container__label">Mensagem</label>
        <!-- Colocando name para chamar no app.py -->
        <input name="mensagem" class="container__input" type="text">

        <!-- Icone LIKE -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <!-- Icone De Deslike -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <button class="container__button__enviar">Enviar 📩</button>
    </form>

    
        <table>
            <thead>
                <td>
                    USUÁRIO
                </td>

                <td>
                    MENSAGEM
                </td>

                <td>
                    DATA
                </td>

                <td>
                    AÇÕES
                </td>

                <td>
                    CURTIDAS
                </td>

            </thead>
            <tbody>
                {% for mensagem in mensagens %}
                <tr>
                    <td>
                       {{ mensagem.usuario}}
                    </td>  

                    <td>
                        {{mensagem.mensagem}}
                    </td>

                    <td>
                        {{mensagem.data_hora}}
                    </td>

                    <td>
                        <a href="/delete/mensagem/{{mensagem.cod_comentario}}" type="submit" class="btn-delete">APAGAR</a>
                        <a href="">CURTIR</a>
                    </td>

                    <td>
                        {{mensagem.curtidas}}
                    </td>
                
                </tr>

                {% endfor %}
            </tbody>
        </table>
        
  

    <!-- <div class="container__aparece__comentario">
        <div class="container__aparece_usuario_data"></div>
    </div> -->
    
</body>
</html>